<div class= "nav-bar">
  <div class="back-arrow">
    <%= link_to root_path do %>
      <i class="fa-regular fa-arrow-left">Back</i>
    <% end %>
  </div>
  <h2 class="login-head">FORGOT YOUR PASSWORD?</h2>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="actions form-submit">
    <%= f.submit "Send reset instructions" %>
  </div>
<% end %>
